/problema1/paqueteuno/Ejecutor/nbproject/private/
/problema1/paquetedos/Terreno/nbproject/private/
/problema1/paquete2/Terreno/nbproject/private/
/problema1/paquete1/Terreno/nbproject/private/
/problema1/paquete2/JavaApplication83/nbproject/private/
/problema1/paquete2/Ejecutor/nbproject/private/
/problema2/paquete1/EquivalenteHora/nbproject/private/
/problema2/paquete2/Ejecutor/nbproject/private/
/problema3/paquete1/EntidadAdministrativa/nbproject/private/
/problema3/paquete2/Ejecutor/nbproject/private/
/problema3/paquete2/SistemaOperativo/nbproject/private/
/problema4/paquete2/Ejecutor/nbproject/private/
